go 1.26.1

use (
	.
	./apps/imago
	./apps/revue
	./apps/valuer
	./apps/vita
	./aurelia
	./axon
	./axon-auth
	./axon-base
	./axon-book
	./axon-chat
	./axon-code
	./axon-cost
	./axon-eval
	./axon-face
	./axon-fact
	./axon-gate
	./axon-hand
	./axon-lens
	./axon-look
	./axon-loop
	./axon-lore
	./axon-memo
	./axon-mind
	./axon-nats
	./axon-push
	./axon-rule
	./axon-scan
	./axon-sign
	./axon-snip
	./axon-synd
	./axon-talk
	./axon-tape
	./axon-task
	./axon-tool
	./axon-wire
)
